
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        .mybtn {
            display: inline-block;
            border-radius: 4px;
            background-color: rgb(0, 191, 255);
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .mybtn span {
                cursor: pointer;
                 display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .mybtn span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .mybtn:hover span {
                padding-right: 25px;
            }

                .mybtn:hover span:after {
                    opacity: 1;
                    right: 0;
                }

        .catbtn {
            color: #ff9900;
            font-weight: bold;
            font-Family: 'Tajawal', sans-serif;
            text-shadow: #e8dee1 2px 2px 10px;
        }

        .cardRound {
            width: 85%;
            height: 85%;
            border-radius: 50%;
            text-align: center;
        }

        .cardImg {
            width: 55%;
            display: block;
            margin: 6% 22%;
        }
    </style>
}

<div class="card" data-step="1" data-intro="هذه الصفحه مخصصه لإضافة عرض ل(الشق أوالفيلا أوالمحل أوالأرضي) من خلال إختيار نوع العقار الذي تريد إضافة العرض له">
    <div class="container-fluid">
        <div class="card-header">
            <div class="card-header text-right">
                <nav aria-label="breadcrumb" role="navigation" style="direction :rtl">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("index","Home")" style="color:#0098f0"> الصفحة الرئيسية </a></li>

                        <li class="breadcrumb-item active" aria-current="page"> إختيار نوع فئة العرض  </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="card-body">
            <h4 class="title text-right">أستعراض جميع الفئات</h4>
            <div class="container">
                <div class="row justify-content-around ">
                    <div class="col ">
                        <div class="card cardRound" style="background-color: #e4e0d99e;">
                            <div class="card-body">
                                <img class="cardImg text-center " src="~/Assets/image Units/image vill aoartment/buildings.png">
                                <a class="catbtn" href="/ApartmentAvailables/AddClientSale"> عروض شقق</a>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card cardRound" style="background-color:#e4e0d99e;">
                            <div class="card-body">
                                <img class="cardImg text-center" src="~/Assets/image Units/image vill aoartment/home.png">
                                <a class="catbtn" href="/VillasAvailable/AddVillasClientSalse"> عروض فيلات</a>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card cardRound" style="background-color:#e4e0d99e;">
                            <div class="card-body">
                                <img class="cardImg text-center" src="~/Assets/image Units/image vill aoartment/icons8-field-96.png">
                                <a class="catbtn" href="/AvailableLands/AddAvailableLands"> عروض أراضي</a>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card cardRound" style="background-color:#e4e0d99e;">
                            <div class="card-body">
                                <img class="cardImg text-center" src="~/Assets/image Units/image vill aoartment/shop.png">
                                <a class="catbtn" href="/ShopAvailable/AddShopAvailable">عروض محلات</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*end row*@

            <!-- end row -->

            <div class="row" data-step="2" data-intro="هذه الجزء لإستيرات ملف excel لإضافة عروض شقق أو فيلات ولابد من أن تكون البيانات المدخله صحيحه ">

                <div class="col-md-3" data-step="3" data-intro="يجب أن يكون ترتيب البيانات المستورده من الملف كالتالي ( إسم عميل, رقم موبايل العميل ,السعر من , السعر إلى , المساحة من , المساحة إلى , عدد الحمامات من , عدد الحمامات إلى ,الغرف من , الغرف إلى , المصاعد من , المصاعد إلى ) ,">
                    <div class="card cardRound" style="background-color: #04f99338;">
                        <div class="card-body">
                            <img class="cardImg text-center" src="~/Assets/image Units/image vill aoartment/1871262.svg">
                            <a class="catbtn" data-toggle="modal" data-target="#myModal" href="" id="Aparment"> إستيراد عروض شقق</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" data-step="4" data-intro="يجب أن يكون ترتيب البيانات المستورده من الملف كالتالي ( إسم عميل, رقم موبايل العميل ,السعر من , السعر إلى , المساحة من , المساحة إلى , عدد الحمامات من , عدد الحمامات إلى ,الغرف من , الغرف إلى , المصاعد من , المصاعد إلى ) ,">
                    <div class="card cardRound" style="background-color:#04f99338;">
                        <div class="card-body">
                            <img class="cardImg text-center" src="~/Assets/image Units/image vill aoartment/1871262.svg">
                            <a class="catbtn" data-toggle="modal" data-target="#myModal" href="" id="Villa">إستيراد عروض فيلات</a>
                        </div>
                    </div>
                </div>


            </div> <!-- End of second row-->



        </div> <!-- end of card-->
    </div>
</div>



<!-- Image Modal -->
<div id="myModal" class="modal fade " role="dialog">
    <div class="modal-dialog .modal-dialog-centered" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Excel File</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <div class="jumbotron">
                        <form action="/AvailableImportExport/Upload" class="dropzone" id="dropzoneJsForm" method="post" enctype="multipart/form-data"></form>
                        <button id="act-on-upload" class="btn btn-block">حمل الملف</button>
                    </div>
                    <span class="alert alert-primary">الملف لابد من أن يكون فقط .xls,.xlsx</span><br /><br />
                    <span class="alert alert-warning">يتم تحميل ملف واحد فقط  </span>
                    <span class="alert alert-info">مساحة الملف لا تزيد عن 3 ميجابايتس  </span>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>

        var unit;
        $("#Aparment").click(function () {

            unit = 1;
        });

        $("#Villa").click(function () {

            unit = 2;
        });

        Dropzone.options.dropzoneJsForm = {

            maxFilesize: 3, // MB
            maxFiles: 1,
            addRemoveLinks: true,
            uploadMultiple: true,
            parallelUploads: 1,
            autoProcessQueue: false,
            init: function () {
                var submitButton = document.querySelector("#act-on-upload")
                dropzoneJsForm = this;
                submitButton.addEventListener("click", function () {

                    dropzoneJsForm.processQueue();


                })
            },
            successmultiple: function (file, response) {
                if (response.valid) {
                    if (unit === 1) {
                        location.href = "/AvailableImportExport/GetApartmentUploadFile/";
                    }
                    else
                        location.href = "/AvailableImportExport/GetVillaUploadFile/";
                }
                else {
                    alertify.set('notifier', "position", "top-right");
                    alertify.notify(response.message, "error", 3, function () { });
                }
            },
        };

        $('#flexi_form_start').click(function () {
            introJs().start().oncomplete(function () {
            }).onexit(function () {
            }).onbeforechange(function (targetElement) {
                $(".steps").hide();


                // $(".left").css("float","left");
                // $("input").removeClass("error");
                // $(".right").hide();



            });
        });
    </script>
}