@model _3aqarak.MVC.ViewModels.SaleContractViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card" data-step="1" data-intro="هذه الصفحة مخصصه لعرض جميع عقود البيع التي تمت على البرنامج بالبحث عنها بتاريخ معين ونوع فئة عقار معينه">
    <div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="card-header text-right">
        <!-- <h4 class="card-title">شاشة التسجيل</h4> <br>  -->
        <!-- <span class="card-title"> كود : 12212</span> -->
        <nav aria-label="breadcrumb" role="navigation" style="direction :rtl">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("index","Home")" style="color:#0098f0"> الصفحة الرئيسية </a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
                <li class="breadcrumb-item active" aria-current="page"> عرض تعاقدات البيع والشراء  </li>
            </ol>
        </nav>
    </div>
    <!-- Body-->
    <div class="card-body">

        <div class="row">
            @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">*@
            <div class=" col">
                <label class="prelabel" for="from">من تاريخ</label>
                <input type="date" id="from" class="form-control" />
            </div>
            @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">*@
            <div class="col">
                <label class="prelabel" for="to">الى تاريخ</label>
                <input type="date" id="to" class="form-control" />

            </div>
            <div class="col" style="margin-top:3%">
                @Html.DropDownList("categories", Model.Cats, "اختر فئه العرض", new { id = "cats", @class = "form-control" })
            </div>
            @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">*@
            <div class="col" style="margin-top:3%">
                @*<input id="getContracts" type="button" value="عرض العقود" class="btn btn-default " />*@
                <button class="btn btn-default" id="getContracts"> عرض العقود</button>
            </div>
        </div>

        <div class="table-responsive ps">
            <!-- Page Table -->
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>اسم البائع</th>
                        <th>اسم المشتري</th>
                        <th> تاريخ امضاء العقد</th>
                        <th> نوع العـــقد</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>

                    </tr>
                </thead>
            </table>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"> </div>
            </div>
            <div class="ps__rail-y" style="top: 0px; left: 594px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"> </div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; left: 1022px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
        </div>
    </div>  <!-- End of body-->
    </div>
</div> <!-- card-->
@section scripts{
    <script>
        //document.getElementById('from').min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
        //document.getElementById('to').min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];

        $(document).ready(function () {
            var token = $('input[name="__RequestVerificationToken"]').val();
            table = $("table").DataTable({
                "language": {
                    "url": "/Theme/assets/Plugins/DataTables/arabic.lang.json"
                },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,
                "bFilter": false,

                "ajax": {
                    "url": "/SaleContract/LoadData",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        d.catId = $("#cats").val();
                        d.fromDate = $("#from").val();
                        d.toDate = $("#to").val();
                    },

                },

                "columns": [
                    { "data": "PK_SalesHeaders_Id", "name": "PK_SalesHeaders_Id", "autoWidth": true },
                    { "data": "SellerName", "name": "SellerName", "autoWidth": true },
                    { "data": "BuyerName", "name": "BuyerName", "autoWidth": true },
                    { "data": "DateString", "name": "DateString", "autoWidth": true },
                    { "data": "Installement", "name": "Installement", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) { return ' <button type="button" title="تعديل " rel="tooltip" class="btn btn-success btn-sm btn-icon edit"data-id="' + full.PK_SalesHeaders_Id + '"><i class="tim-icons icon-notes"></i></button>'; }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<button type="button" title="حذف " rel="tooltip" class="btn btn-danger btn-sm btn-icon delete" data-id="' + full.PK_SalesHeaders_Id + '"><i class="tim-icons icon-simple-remove"></i></button>';
                        }
                    },
                ]
            });
            $("#getContracts").click(function () {
                table.draw();
            });

            $("table").on("click", ".edit", function () {
                Id = $(this).attr("data-id");
                location.href = "/SaleContract/editContract/" + Id;
            });

            $("table").on("click", ".delete", function () {
                var Id = $(this).attr("data-id");
                var button = $(this);
                alertify.confirm(
                     "هل تريد حذف ذلك السجل؟", function (confirm) {
                         if (confirm) {
                             $.ajax({
                                 url: "/SaleContract/DeleteContract",
                                 type: "post",
                                 data: {
                                     __RequestVerificationToken: token,
                                     id: Id,
                                 },

                                 success: function (result) {
                                     debugger;
                                     if (result) {
                                         alertify.alert("تم حذف السجل بنجاح !", function () {
                                             button.parents("tr").remove();
                                         });
                                     }
                                     else {
                                         alertify.alert("لم يتم حذف السجل بنجاح!", function () { });
                                     }

                                 }
                             })
                         }

                     }

                )
            });

        });

          $('#flexi_form_start').click(function () {
                introJs().start().oncomplete(function() {
                }).onexit(function() {
                }).onbeforechange(function(targetElement) {
                   $(".steps").hide();                    
                 });
            });
    </script>

}




