@model _3aqarak.MVC.ViewModels.MessageViewModel
@{
    ViewBag.Title = "AddMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>



        label {
            float: right;
            font-size: 16px;
            font-weight: bold;
            clear: both;
            margin-bottom: 10px;
        }

        h4 {
            text-align: center;
            font-size: 20px;
            text-decoration: underline;
        }

        h5 {
            text-align: right;
            font-size: 16px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ui-menu-item-wrapper {
            font-size: 20px;
            text-align: right;
        }
    </style>
}

<div class="card">
    
    <div class="card-header">
        <div class="card-header text-right">
            <nav aria-label="breadcrumb" role="navigation" style="direction :rtl">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index","Home")" style="color:#0098f0"> الصفحة الرئيسية </a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
                    <li class="breadcrumb-item active" aria-current="page"> إرسال مهمة لموظف  </li>
                </ol>
            </nav>
        </div>

    </div>
    <div class="card-body">
        <form id="AddClientsaleForm">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="text" class="form-control" id="clientSearchTxt" placeholder="بحث عن موظف معين">
                <div id="UserDiv" style="display:none;">
                    <div id="hiddenDiv">
                        <div class="row">
                            <div class="col">
                                <label for="from">بداية مدة المهمه</label>
                                <input type="date" id="from" class="form-control" />
                            </div>
                            <div class="col">
                                <label class="text-right" for="to">إنتهاء مدة المهمه</label>
                                <input type="date" id="to" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <h5>عنوان المهمه</h5>
                            <input type="text" class="form-control sty" id="title" />
                        </div>

                        <div class="form-group row">
                            <h5>تفاصيل المهمه</h5>
                            <textarea class="form-control sty" id="task" rows="3" style="border :1px solid #2b3553  ; border-radius:10px"></textarea>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-default animation-on-hover" id="mybutton">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
   

    </div>
    @section scripts{
        <script>


            var token = $('input[name="__RequestVerificationToken"]').val();
             document.getElementById('from').min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
        document.getElementById('to').min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0]; 
            $(document).ready(function () {
                    //User auto complete
                   // $("#hiddenDiv").hide();
                    $("#clientSearchTxt").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "/Message/EmpAutoComplete",
                                type: "POST",
                                dataType: "json",
                                data: { text: request.term },
                                success: function (data) {
                                    response($.map(data, function (item) {
                                        return { label: item.FirstName + " " + item.LastName, value: item.FirstName + " " + item.LastName + "-" + item.PK_Users_Id };
                                    }));
                                }
                            });
                        },
                        select: function (event, ui) {
                            $("#UserDiv").show(1000);
                            UserId = ui.item.value.split("-")[1];
                            ui.item.value = ui.item.value.split("-")[0];
                            $("#UserDiv").show(300);
                        },
                    });
                $("#AddClientsaleForm").submit(function (e) {
                    e.preventDefault();
                    //******
                    var obj = {

                        FK_Messages_Users_RecieverId: UserId,
                        MessageContent: $("#task").val(),
                        DateTimeStart: $("#from").val(),
                        DateTimeEnd: $("#to").val(),
                        Title:$("#title").val(),
                    };

                   
                    $.ajax({
                        "url": "/Message/SaveMessage/",
                        "type": "POST",
                        accept: "application/json",
                        dataType: "json",
                        "data": {
                            __RequestVerificationToken: token,
                            MessageVM: obj,
                        },
                        success: function (response) {
                           
                          if (response.valid) {

                            alertify.alert(response.message, function () {
                                location.href = "/Message/Index/";
                            });
                        }
                        else {
                            alertify.alert(response.message, function () {

                            });
                        };


                        },
                        error: function (response) {
                           
                            alertify.alert("حدث خطا ما عند تسجيل البيانات", function () {

                            })

                        }
                    });
                });
                //*****
            });
        </script>
    }


